:root {
    --primary-button-color: #3366ff;
    --secondary-button-color: #f9d67e;
  }

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.paddingDefault{
    padding: 5rem 10rem 5rem 10rem;
}

.paddingDefaultNavigation{
    padding: 2rem 10rem 2rem 10rem;
}

.d_flex{
    display: flex;
    justify-content: space-between;
}

.button{
    margin-right: 10px;
    cursor: pointer;
    width: 120px;
    border: 0px;
    box-shadow: 0px;
    background-color: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

.login_button{
    background-color: var(--primary-button-color);
    color: #fff;
}

/* .header .button:hover{
    background-color: var(--primary-button-color);
    color: #fff;
    transition: 0.2s all ease;
} */

.hero_section{
    background-color: #f7f5fe;
}

.hero_section .infoSecton{
    width: 50%;
}

.hero_section .hero_section_title{
    font-size: 80px;
    line-height: 0;
    font-weight: 600;
}

.hero_section .hero_section_description{
    font-size: 18px;
    font-weight: 400;
    color: #959498;
    margin-bottom: 30px;
}

.hero_section .infoSecton .get_started_btn{
    width: 200px;
    height: 64px;
    background-color: var(--secondary-button-color);
}

.video_section{
    background-color: #f2faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_section iframe {
    border-radius: 10px;
}


.features_section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.features_section .feature_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features_section .feature_card .image{
    margin: 10px;
}

.features_section .feature_card .title{
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
}

.features_section .feature_card .description{
    width: 60%;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.testimonials_section{
    background-color: #ece7fc;
}

.testimonials_section .testimonials_card{
    display: flex;
    justify-content: center;
    align-items: center;
}


.testimonials_section .testimonials_card .messageSection {
    width: 40%;
    margin: 100px;
}
.testimonials_section .testimonials_card .messageSection .testimonials_message{
    font-size: 18px;
    font-weight: 600;
    font-style: bold;
    line-height: 1.5;
    width: 80%;
}

.testimonials_section .testimonials_card .messageSection .testimonials_name{
    color: #959498;
}

.testimonials_message::before {
  content: '\201C';
  font-size: 62px;
  line-height: 0;
  display: block;
  white-space: pre;
}

.footer_section .top, .bottom{
    padding-top: 20px;
}

.footer_section .top input{
    width: 300px;
    height: 38px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
    padding-left: 10px;
}

.footer_section .top .leftSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_section .top .leftSection img{
    width: 150px;
    height: 35px;
    margin-bottom: 50px;
}

.footer_section .top .leftSection p{
    color: #959498;
}

.footer_section .top .rightSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.footer_section .top .rightSection .navigationSectionCard ul{
    list-style: none;
    padding: 2px;
    margin: 2px;
    line-height: 2;
}

.footer_section .bottom  div,a{
    margin-right: 20px;
}

.footer_section a{
    text-decoration: none;
    color: #000;
}

.footer_section a:hover{
    text-decoration: underline;
}